/**
 * Homestyle.css - main styling of the site
 * 
 * @author Bugslayer
 * 
 */

body {
	font-family: Verdana, Geneva, sans-serif;
	margin : 0;
	padding : 0;
}

/** Navigation menu **/
#account {
	background-color : #29293D;
	margin : 5px;
	float : right;
}

header {
	margin : 0;
	padding : 0;
	width : 100%;
	height : 110px;
	background-image: url("header.jpg");
	background-repeat: repeat-x;
}

nav a, #account a {
	display : inline-block;
	text-decoration : none;
	padding : 0.5em 2em;
	color : #E0E0EB;	
	margin : 0;
	border-right : 1px solid #fff;
}

nav {
	font-family: Impact, Charcoal, sans-serif;
	display : inline-block;
	color : #E0E0EB;	
	background-color : #29293D;
	width : 100%;
	margin : 0;
	padding : 0;
}

/** Menu items in the navigation menu **/
.navbar-top {
    float : left;
    width : 100%;
    padding : 0;
    margin : 0;
    list-style-type : none;
}

.navbar-top li {
	list-style : none;
	float : left;
}

.navbar-top li a:link, .navbar-top li a:visited {
	position : relative;
	z-index : 9999;
	display : block;
	text-decoration : none;
	padding : 0.5em 2em;
	margin : 0;
	border-right : 1px solid #fff;
}

.navbar-top li a:hover {
	background-color : #3D3D5C;	
}


/** Navigation submenu's **/
.navbar-top li ul {
	position : absolute;
	visibility : hidden;
	border-top : 1px solid #fff;
	margin : 0;
	padding : 0;
}

.navbar-top li ul li {
	display : inline;
	float : none;
}

.navbar-top li ul li a:link, .navbar-top li ul li a:visited {
	background-color : #29293D;
	width : auto;
}

.navbar-top li ul li a:hover {
	background-color : #3D3D5C;	
}

.navbar-top .enabled {
   color : #3D3D5C;
}

.navbar-top .disabled {
   pointer-events : none;
   cursor : default;		
   color : #31314A
}

/* The main element (article space) */
main {
    border : 5px solid;
    border-color : #F0F0F5;
    border-radius : 25px;
  	margin : 20px;
	padding : 10px 30px 30px 30px;
}

/** Other parts **/
#form_container
{
	background : #fff;
	border : 1px solid #ccc;
	margin : 0 auto;
	text-align : left;
	width : 640px;
}

#top
{
	display : block;
	height : 10px;
	margin : 10px auto 0;
	width : 650px;
}

#footer
{
	width : 640px;
	clear : both;
	color : #999999;
	text-align : center;
	width : 640px;
	padding-bottom : 15px;
	font-size : 85%;
}

#footer a
{
	color : #999999;
	text-decoration : none;
	border-bottom : 1px dotted #999999;
}

#bottom
{
	display : block;
	height : 10px;
	margin : 0 auto;
	width : 650px;
}
ol#leadingZero
{
	list-style-type: decimal-leading-zero;
}
#mapsLocation {
	margin-top: 25px;
	width: 100%;
	height: 450px;
	border: 0;
}
.error {
	color: red;
	background-color: red;
}

/** Formatting the forms of the site **/ 
form {
	padding : 25px;
	border : 1px thin grey;
	border-radius : 20px;
	box-shadow : 10px 10px 10px grey;
}

form table {
	vertical-align : middle;
}

form input, form textarea, form select {
	margin : 5px;
	padding : 5px;
	border-radius : 5px;
}

form span {
	margin : 5px;
	padding : 5px;
	border-radius : 5px;
}

/* Form validatie elements. */
form input.error, form select.error, form textarea.error  { 
	border-color : #e77776;
    outline : none;
    box-shadow : 0 0 10px #e77776;
}

form span.error, span.error, div.error {
	padding : 5px;
	background-color : #FF9E9E; 
	border : 1px solid #e77776;
	border-radius : 5px;
	padding-left : 10px;
	padding-right : 10px;
}

form input.success, form select.success, form textarea.success  { 
	border-color : #06ea26; 
    outline : none;
    box-shadow : 0 0 10px #06ea26;
} 

form span.success {
	padding : 5px;
	background-color : #AAE3B2; 
	border : 1px solid #06ea26;
}

/* Tables */
.datatable {
	width : 90%;
    border-collapse: collapse;
}

.datatable th {
	background-color: #ddd;
	text-align: left;
}
.datatable, .datatable th, .datatable td {
	border : 1px solid #eee;
}

.datatable tr {
	background-color: #ddd;
}

.datatable tr:nth-child(even) {
    background-color: #BCBCBC;
}